* text=auto

# Завжди LF для крос-платформених файлів
*.sh            text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
Dockerfile      text eol=lf
.dockerignore   text eol=lf
*.ts            text eol=lf
*.js            text eol=lf
